@media screen and (max-width: 1000px) {
    body {
      background-color: aquamarine;
    }
    .slider {
      height: 23vh;
    }
    nav {
      flex-direction: column;
    }
    .logo {
      justify-content: center;
      margin: 12px 0;
    }
    nav ul {
      justify-content: center;
      height: 34px;
    }
    .search {
      justify-content: center;
    }
    .search input {
      margin: 10px 16px;
    }
    .card-item {
      width: 100px;
    }
  }

  
  